<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger</title>
    <script src="bundle.js"></script>
    <style>
        .container {
            margin-top: 3em;
        }
    </style>
</head>

<body ng-app="app">
    <div class="container" ng-controller="TabsController as $ctrl">

        <ul class="nav nav-tabs" >
            <li ng-repeat="tab in $ctrl.tabs track by $index"
                ng-class="{'active': $ctrl.tab ===  $index }">
                <a ng-click="$ctrl.changeTab( $index )" href>{{ tab.title }}</a>
            </li>
            <li class="pull-right">
                <div class="btn-group">
                    <button ng-click="$ctrl.navigateTab( -1 )"
                            class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button ng-click="$ctrl.navigateTab( +1 )"
                            class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </li>
        </ul>

        <!-- <div ng-repeat="tab in $ctrl.tabs track by $index"
        ng-if=" $ctrl.tab  ===  $index ">
            <h1 >{{ tab.template }}</h1>
        </div> -->

        <h2><ng-include
            ng-repeat="tab in $ctrl.tabs track by $index"
            ng-if="$ctrl.tab === $index"
            src="$ctrl.getTemplate(tab)"></ng-include>
        </h2>

            <pre>{{ "mouss" | reverse }}</pre>


    </div>
</body>

</html>
