<img
    ng-click="$ctrl.toggleGravatar()"
    ng-if="$ctrl.displayGravatar"
    ng-src="https://www.gravatar.com/avatar/{{ $ctrl.md5 }}">

<div ng-if="!$ctrl.displayGravatar">
    <strong ng-click="$ctrl.toggleGravatar()">{{ $ctrl.email }}</strong>

    <form name="talkForm">
        <input type="text" ng-model="$ctrl.text" required ng-maxlength="5" class="form-control" placeholder="Yo!">
        <button class="btn btn-block btn-primary" ng-click="$ctrl.talk(talkForm)">yo!</button>
    </form>
</div>
